--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO neondb_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: neondb_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CallStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."CallStatus" AS ENUM (
    'RINGING',
    'ONGOING',
    'ENDED',
    'MISSED',
    'REJECTED'
);


ALTER TYPE public."CallStatus" OWNER TO neondb_owner;

--
-- Name: CallType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."CallType" AS ENUM (
    'AUDIO',
    'VIDEO'
);


ALTER TYPE public."CallType" OWNER TO neondb_owner;

--
-- Name: MediaType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."MediaType" AS ENUM (
    'IMAGE',
    'VIDEO',
    'AUDIO',
    'DOCUMENT'
);


ALTER TYPE public."MediaType" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Call; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Call" (
    id text NOT NULL,
    "callerId" text NOT NULL,
    "receiverId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    duration integer,
    status text NOT NULL,
    type text NOT NULL,
    "endTime" timestamp(3) without time zone,
    "startTime" timestamp(3) without time zone,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Call" OWNER TO neondb_owner;

--
-- Name: Chat; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Chat" (
    id text NOT NULL,
    name text,
    "isGroup" boolean DEFAULT false NOT NULL,
    avatar text,
    "lastActivity" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "activeUsers" text[] DEFAULT ARRAY[]::text[],
    "typingUsers" text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Chat" OWNER TO neondb_owner;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    content text NOT NULL,
    "userId" text NOT NULL,
    "postId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Comment" OWNER TO neondb_owner;

--
-- Name: ContactRequest; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ContactRequest" (
    id text NOT NULL,
    "senderId" text NOT NULL,
    "recipientId" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ContactRequest" OWNER TO neondb_owner;

--
-- Name: Group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Group" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    avatar text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text NOT NULL,
    "isPublic" boolean DEFAULT false NOT NULL,
    bio text
);


ALTER TABLE public."Group" OWNER TO neondb_owner;

--
-- Name: GroupMember; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GroupMember" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'MEMBER'::text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GroupMember" OWNER TO neondb_owner;

--
-- Name: GroupMessage; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GroupMessage" (
    id text NOT NULL,
    content text NOT NULL,
    "groupId" text NOT NULL,
    "senderId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GroupMessage" OWNER TO neondb_owner;

--
-- Name: Like; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Like" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "postId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Like" OWNER TO neondb_owner;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    content text NOT NULL,
    "mediaUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "senderId" text NOT NULL,
    "chatId" text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    status text DEFAULT 'sent'::text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO neondb_owner;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    type text NOT NULL,
    content text NOT NULL,
    "userId" text NOT NULL,
    "senderId" text,
    "groupId" text,
    read boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Notification" OWNER TO neondb_owner;

--
-- Name: Participant; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Participant" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "chatId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Participant" OWNER TO neondb_owner;

--
-- Name: Post; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Post" (
    id text NOT NULL,
    caption text,
    "mediaUrl" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "viewersIds" text[],
    "mediaType" text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    visibility text DEFAULT 'public'::text NOT NULL
);


ALTER TABLE public."Post" OWNER TO neondb_owner;

--
-- Name: User; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    password text NOT NULL,
    phone text,
    "profileImage" text,
    bio text,
    status text DEFAULT 'offline'::text NOT NULL,
    "lastSeen" timestamp(3) without time zone,
    "lastActive" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP,
    "isTyping" boolean DEFAULT false NOT NULL,
    "typingInChat" text,
    "deviceId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    theme text DEFAULT 'dark'::text NOT NULL,
    language text DEFAULT 'en'::text NOT NULL,
    notifications boolean DEFAULT true NOT NULL,
    "soundEnabled" boolean DEFAULT true NOT NULL,
    "privacyLevel" text DEFAULT 'friends'::text NOT NULL,
    "readReceipts" boolean DEFAULT true NOT NULL,
    "mutedChats" text[],
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO neondb_owner;

--
-- Name: UserMedia; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."UserMedia" (
    id text NOT NULL,
    "userId" text NOT NULL,
    url text NOT NULL,
    type text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "useCount" integer DEFAULT 0 NOT NULL,
    "fileType" text NOT NULL
);


ALTER TABLE public."UserMedia" OWNER TO neondb_owner;

--
-- Name: UserSettings; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."UserSettings" (
    id text NOT NULL,
    "userId" text NOT NULL,
    theme text DEFAULT 'dark'::text NOT NULL,
    language text DEFAULT 'en'::text NOT NULL,
    notifications boolean DEFAULT true NOT NULL,
    "soundEnabled" boolean DEFAULT true NOT NULL,
    "onlineStatus" boolean DEFAULT true NOT NULL,
    "readReceipts" boolean DEFAULT true NOT NULL,
    "privacyLevel" text DEFAULT 'friends'::text NOT NULL,
    "messageSounds" text DEFAULT 'default'::text NOT NULL,
    "callRingtone" text DEFAULT 'default'::text NOT NULL,
    "lastUpdated" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserSettings" OWNER TO neondb_owner;

--
-- Name: _BlockedUsers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."_BlockedUsers" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_BlockedUsers" OWNER TO neondb_owner;

--
-- Name: _UserContacts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."_UserContacts" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_UserContacts" OWNER TO neondb_owner;

--
-- Data for Name: Call; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Call" (id, "callerId", "receiverId", "createdAt", duration, status, type, "endTime", "startTime", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Chat; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Chat" (id, name, "isGroup", avatar, "lastActivity", "activeUsers", "typingUsers", "createdAt", "updatedAt") FROM stdin;
cmazvfdbc000dl204id3xe49h	\N	f	\N	2025-05-22 21:15:34.824	{}	{}	2025-05-22 21:15:34.824	2025-05-22 21:15:34.824
cmb3gmlnn0000la044r841s8s	\N	f	\N	2025-05-25 09:32:22.691	{}	{}	2025-05-25 09:32:22.691	2025-05-25 09:32:22.691
\.


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Comment" (id, content, "userId", "postId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ContactRequest; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ContactRequest" (id, "senderId", "recipientId", status, "createdAt") FROM stdin;
cmazurnmg0001l704dxntxefj	cmazu8jl00001la04txtrkt4j	cmazu80am0000la0428b6hsws	PENDING	2025-05-22 20:57:08.44
cmazvby4a0003l704n71ai7qb	cmazvb21j0000l2049emoz1eb	cmazu8jl00001la04txtrkt4j	PENDING	2025-05-22 21:12:55.162
\.


--
-- Data for Name: Group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: GroupMember; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: GroupMessage; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."GroupMessage" (id, content, "groupId", "senderId", "createdAt") FROM stdin;
cmazvebm60009l7046j1d31j2	Jey	cmazvdvjg0002l204w7gwc50d	cmazvb21j0000l2049emoz1eb	2025-05-22 21:14:45.967
cmazvf5bx0008l2048md9gehs	hhh	cmazvdvjg0002l204w7gwc50d	cmazu80am0000la0428b6hsws	2025-05-22 21:15:24.477
cmb0zjbtn0001l40486gvea5o	k	cmb0zj30y0001l804lsd2ym29	cmazu8jl00001la04txtrkt4j	2025-05-23 15:58:24.156
\.


--
-- Data for Name: Like; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Like" (id, "userId", "postId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Participant; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Participant" (id, "userId", "chatId", "joinedAt") FROM stdin;
cmazvfdbc000fl20499vpqz9x	cmazu80am0000la0428b6hsws	cmazvfdbc000dl204id3xe49h	2025-05-22 21:15:34.824
cmazvfdbc000gl204tzi3pe8t	cmazu8jl00001la04txtrkt4j	cmazvfdbc000dl204id3xe49h	2025-05-22 21:15:34.824
cmb3gmlnn0002la04v8cp7wy1	cmazvb21j0000l2049emoz1eb	cmb3gmlnn0000la044r841s8s	2025-05-25 09:32:22.691
cmb3gmlnn0003la049gj6zzpu	cmazu8jl00001la04txtrkt4j	cmb3gmlnn0000la044r841s8s	2025-05-25 09:32:22.691
\.


--
-- Data for Name: Post; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: UserMedia; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."UserMedia" (id, "userId", url, type, "createdAt", "useCount", "fileType") FROM stdin;
\.


--
-- Data for Name: UserSettings; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."UserSettings" (id, "userId", theme, language, notifications, "soundEnabled", "onlineStatus", "readReceipts", "privacyLevel", "messageSounds", "callRingtone", "lastUpdated") FROM stdin;
cmazvnax60001l50400wql2w1	cmazu8jl00001la04txtrkt4j	dark	en	t	t	t	t	friends	default	default	2025-05-22 21:21:44.971
cmazvnca90003l5049vdle5vy	cmazvb21j0000l2049emoz1eb	dark	en	t	t	t	t	friends	default	default	2025-05-22 21:21:46.738
cmazvt5mm0001lc0480o38zyn	cmazu80am0000la0428b6hsws	dark	en	t	t	t	t	friends	default	default	2025-05-22 21:26:18.046
\.


--
-- Data for Name: _BlockedUsers; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."_BlockedUsers" ("A", "B") FROM stdin;
\.


--
-- Data for Name: _UserContacts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."_UserContacts" ("A", "B") FROM stdin;
cmazu8jl00001la04txtrkt4j	cmazu80am0000la0428b6hsws
cmazu80am0000la0428b6hsws	cmazu8jl00001la04txtrkt4j
cmazvb21j0000l2049emoz1eb	cmazu8jl00001la04txtrkt4j
cmazu8jl00001la04txtrkt4j	cmazvb21j0000l2049emoz1eb
\.


--
-- Name: Call Call_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Call"
    ADD CONSTRAINT "Call_pkey" PRIMARY KEY (id);


--
-- Name: Chat Chat_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Chat"
    ADD CONSTRAINT "Chat_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: ContactRequest ContactRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ContactRequest"
    ADD CONSTRAINT "ContactRequest_pkey" PRIMARY KEY (id);


--
-- Name: GroupMember GroupMember_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_pkey" PRIMARY KEY (id);


--
-- Name: GroupMessage GroupMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_pkey" PRIMARY KEY (id);


--
-- Name: Group Group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Group"
    ADD CONSTRAINT "Group_pkey" PRIMARY KEY (id);


--
-- Name: Like Like_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Participant Participant_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_pkey" PRIMARY KEY (id);


--
-- Name: Post Post_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_pkey" PRIMARY KEY (id);


--
-- Name: UserMedia UserMedia_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."UserMedia"
    ADD CONSTRAINT "UserMedia_pkey" PRIMARY KEY (id);


--
-- Name: UserSettings UserSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _BlockedUsers _BlockedUsers_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."_BlockedUsers"
    ADD CONSTRAINT "_BlockedUsers_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _UserContacts _UserContacts_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."_UserContacts"
    ADD CONSTRAINT "_UserContacts_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: Call_callerId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Call_callerId_idx" ON public."Call" USING btree ("callerId");


--
-- Name: Call_receiverId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Call_receiverId_idx" ON public."Call" USING btree ("receiverId");


--
-- Name: Comment_postId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_postId_idx" ON public."Comment" USING btree ("postId");


--
-- Name: Comment_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_userId_idx" ON public."Comment" USING btree ("userId");


--
-- Name: ContactRequest_senderId_recipientId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ContactRequest_senderId_recipientId_key" ON public."ContactRequest" USING btree ("senderId", "recipientId");


--
-- Name: GroupMember_groupId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "GroupMember_groupId_idx" ON public."GroupMember" USING btree ("groupId");


--
-- Name: GroupMember_groupId_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "GroupMember_groupId_userId_key" ON public."GroupMember" USING btree ("groupId", "userId");


--
-- Name: GroupMember_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "GroupMember_userId_idx" ON public."GroupMember" USING btree ("userId");


--
-- Name: GroupMessage_groupId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "GroupMessage_groupId_idx" ON public."GroupMessage" USING btree ("groupId");


--
-- Name: GroupMessage_senderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "GroupMessage_senderId_idx" ON public."GroupMessage" USING btree ("senderId");


--
-- Name: Group_createdBy_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Group_createdBy_idx" ON public."Group" USING btree ("createdBy");


--
-- Name: Like_postId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Like_postId_idx" ON public."Like" USING btree ("postId");


--
-- Name: Like_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Like_userId_idx" ON public."Like" USING btree ("userId");


--
-- Name: Like_userId_postId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Like_userId_postId_key" ON public."Like" USING btree ("userId", "postId");


--
-- Name: Message_chatId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Message_chatId_idx" ON public."Message" USING btree ("chatId");


--
-- Name: Message_senderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Message_senderId_idx" ON public."Message" USING btree ("senderId");


--
-- Name: Notification_groupId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_groupId_idx" ON public."Notification" USING btree ("groupId");


--
-- Name: Notification_senderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_senderId_idx" ON public."Notification" USING btree ("senderId");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Participant_userId_chatId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Participant_userId_chatId_key" ON public."Participant" USING btree ("userId", "chatId");


--
-- Name: Post_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Post_userId_idx" ON public."Post" USING btree ("userId");


--
-- Name: UserMedia_type_useCount_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "UserMedia_type_useCount_idx" ON public."UserMedia" USING btree (type, "useCount");


--
-- Name: UserMedia_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "UserMedia_userId_idx" ON public."UserMedia" USING btree ("userId");


--
-- Name: UserSettings_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "UserSettings_userId_idx" ON public."UserSettings" USING btree ("userId");


--
-- Name: UserSettings_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "UserSettings_userId_key" ON public."UserSettings" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: _BlockedUsers_B_index; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "_BlockedUsers_B_index" ON public."_BlockedUsers" USING btree ("B");


--
-- Name: _UserContacts_B_index; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "_UserContacts_B_index" ON public."_UserContacts" USING btree ("B");


--
-- Name: Call Call_callerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Call"
    ADD CONSTRAINT "Call_callerId_fkey" FOREIGN KEY ("callerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Call Call_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Call"
    ADD CONSTRAINT "Call_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Comment Comment_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ContactRequest ContactRequest_recipientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ContactRequest"
    ADD CONSTRAINT "ContactRequest_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ContactRequest ContactRequest_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ContactRequest"
    ADD CONSTRAINT "ContactRequest_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GroupMember GroupMember_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."Group"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMember GroupMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMessage GroupMessage_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."Group"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMessage GroupMessage_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Group Group_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Group"
    ADD CONSTRAINT "Group_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Like Like_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Like Like_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Like"
    ADD CONSTRAINT "Like_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_chatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES public."Chat"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."Group"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participant Participant_chatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES public."Chat"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participant Participant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserMedia UserMedia_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."UserMedia"
    ADD CONSTRAINT "UserMedia_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserSettings UserSettings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _BlockedUsers _BlockedUsers_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."_BlockedUsers"
    ADD CONSTRAINT "_BlockedUsers_A_fkey" FOREIGN KEY ("A") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _BlockedUsers _BlockedUsers_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."_BlockedUsers"
    ADD CONSTRAINT "_BlockedUsers_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserContacts _UserContacts_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."_UserContacts"
    ADD CONSTRAINT "_UserContacts_A_fkey" FOREIGN KEY ("A") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserContacts _UserContacts_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."_UserContacts"
    ADD CONSTRAINT "_UserContacts_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: neondb_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

